@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  animation: 2s ease-in 0s 1 normal none running fadein;
  font-size: 3vmin;
}

#input-name {
  font-family: 'Bebas Neue', cursive;
  font-size: 3vmin;
  padding: 1rem;
}

form > p {
  color: red;
  visibility: hidden;
}

form > button {
  height: 5.5vmin;
  width: 14vmin;
  padding: 0.5vmin;
  border-radius: 4px;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.8vmin;
}

@media (max-width: 675px), (max-height: 680px) {
  form {
    font-size: 2rem;
  }

  #input-name {
    height: 4.6rem;
    width: 19rem;
    font-size: 2rem;
  }

  form > button {
    height: 3.7rem;
    width: 9rem;
    font-size: 1.9rem;
  }
}
