.posit-container {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  align-items: center;
  animation: 2s ease-in 0s 1 normal none running fadein;
}

.btns-container {
  display: flex;
  gap: 1rem;
}

.btns-container > button {
  max-height: 8rem;
  max-width: 14rem;
}

.grid {
  display: flex;
  gap: 1%;
  width: 50vmin;
  height: 50vmin;
  min-width: 25rem;
  min-height: 25rem;
  flex-wrap: wrap;
  max-width: 60rem;
  max-height: 60rem;
  justify-content: center;
}

.ship-shadow {
  background-color: rgb(255 255 255 / 90%);
  transition: all 0.3s ease 0s;
}

.unlock {
  cursor: pointer;
}
