@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.posit-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  animation: 2s ease-in 0s 1 normal none running fadein;
}

.prompt-wrapper {
  width: 55vmin;
  height: 12vmin;
  border: solid 0.1rem white;
  border-radius: 10px;
  font-size: 2.3vmin;
  font-family: monospace;
  background: #020038;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 24rem;
  max-width: 55rem;
  max-height: 11rem;
  min-height: 6rem;
}


.btns-container {
  display: flex;
  gap: 1rem;
}

button {
  height: 4.5vmin;
  width: 11vmin;
  padding: 0.5vmin;
  border-radius: 4px;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5vmin;
}

/* Position grid styles */
.grid {
  display: flex;
  gap: 1%;
  width: 50vmin;
  height: 50vmin;
  min-width: 25rem;
  min-height: 25rem;
  flex-wrap: wrap;
  max-width: 60rem;
  max-height: 60rem;
  justify-content: center;
}


.sq {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9%;
  height: 9%;
  border: solid 2px white;
}


@media (max-width: 434px) {
  .info-wrap {
    font-size: 1rem;
  }
}

