form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  animation: 2s ease-in 0s 1 normal none running fadein;
  font-size: 4vmin;
}

#input-name {
  font-family: 'Bebas Neue', cursive;
  font-size: 3vmin;
  padding: 1rem;
  width: 30vmin;
  min-width: 20rem;
  height: 6vmin;
  min-height: 4rem;
}

form > p {
  color: red;
  visibility: hidden;
}

form > button {
  font-size: 3vmin;
  width: 15vmin;
  min-width: 10rem;
  height: 6vmin;
  min-height: 4rem;
}

@media (max-width: 675px), (max-height: 680px) {
  form {
    font-size: 2.7rem;
  }

  #input-name {
    font-size: 2rem;
  }

  form > button {
    font-size: 1.9rem;
  }
}
