* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  /* --light-text: white;
  --dark-bkgrnd: black;
 */
}

body {
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url(../assets/images/wallpapers/cloudy-d.svg);
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--light-text);
  font-family: sans-serif;
  padding: 3% 0;
  min-width: 275px;
  min-height: 100vh; */
  display: flex;
  flex-direction: column;
  color: #f0f0f2;
  font-size: 3rem;
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(
    180deg,
    rgb(8, 0, 144) 0%,
    rgb(0, 0, 135) 33%,
    rgb(0, 0, 110) 66%
  );
}

header {
  height: 15vh;
  min-height: 10rem;
  display: flex;
  justify-content: center;
  padding: 2rem;
  border: solid 2px white;
}

header > div {
  position: relative;
  display: flex;
  justify-content: center;
  width: 80%;
}

header > div > img:first-of-type {
  object-fit: scale-down;
  object-position: center;
  height: 100%;
  width: 80%;
}

.volume-up {
  position: absolute;
  top: 60%;
  right: 0%;
  fill: #f0f0f2;
  width: 6%;
  max-width: 3.2rem;
  /* height: 20%;
  max-width: 33px; */
}

main {
  display: flex;
  justify-content: center;
  padding-top: 10vmin;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  animation: 6s ease-in 0s 1 normal none running fadein;
  font-size: 3vmin;
}

#input-name {
  font-family: 'Bebas Neue', cursive;
  font-size: 3vmin;
  padding: 1rem;
}

form > p {
  color: red;
  visibility: hidden;
}

form > button {
  height: 5.5vmin;
  width: 14vmin;
  padding: 0.5vmin;
  border-radius: 4px;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.8vmin;
}

@media (max-width: 675px), (max-height: 680px) {
  form {
    font-size: 2rem;
  }

  #input-name {
    height: 4.6rem;
    width: 19rem;
    font-size: 2rem;
  }

  form > button {
    height: 3.7rem;
    width: 9rem;
    font-size: 1.9rem;
  }
}

/* @media (min-width: 1100px) {
  main {
    padding-top: 11rem;
  }
  form {
    font-size: 3.3rem;
  }

  #input-name {
    height: 6.4rem;
    width: 31rem;
    font-size: 3.3rem;
    padding: 1rem;
  }

  form > button {
    height: 6.1rem;
    width: 15.4rem;
    padding: 0.5vw;
    font-size: 3.1rem;
  }
}

@media (max-height: 400px) {
  main {
    padding-top: 3rem;
  }
  form {
    font-size: 2.7rem;
  }

  #input-name {
    height: 4.4rem;
    width: 31rem;
    font-size: 2.7rem;
    padding: 1rem;
  }

  form > button {
    height: 4.1rem;
    width: 15.4rem;
    padding: 0.5vw;
    font-size: 2.5rem;
  }
} */
