* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  color: #f0f0f2;
  font-size: 3rem;
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(
    90deg,
    rgb(2, 0, 75) 0%,
    rgb(18, 18, 172) 50%,
    rgb(2, 0, 75) 100%
  );
  min-width: 355px;
  min-height: 550px;
}

header {
  height: 15vh;
  min-height: 10rem;
  display: flex;
  justify-content: center;
  padding: 3rem 2rem 2rem;
}

header > h1 {
  /* position: relative; */
  display: flex;
  justify-content: center;
  width: 80%;
}

header > h1 > img:first-of-type {
  object-fit: scale-down;
  object-position: center;
  height: 100%;
  width: 90%;
  min-width: 35rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vmin;
  padding: 4vmin;
}

button {
  height: 4.5vmin;
  width: 11vmin;
  padding: 0.5vmin;
  border-radius: 4px;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5vmin;
}

.sq {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9%;
  height: 9%;
  border: solid 2px white;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.disappear {
  animation: 0.9s ease-in 0s 1 normal forwards running fadeout;
}

@keyframes appear {
  from {
    background-color: #28a0ff00;
  }
  to {
    background-color: #28a0ff;
  }
}

.ship-position {
  background-color: #28a0ff;
  animation: 0.5s ease-in 0s 1 normal none running appear;
}

.lock:hover {
  background-color: rgba(255, 60, 60, 0.6);
  cursor: not-allowed;
}

.ship-start-x {
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

.ship-end-x {
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}

.ship-start-y {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.ship-end-y {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

@media (max-height: 500px), (max-width: 500px) {
  main {
    padding-top: 2rem;
  }

  header > h1 > img:first-of-type {
    width: 5rem;
  }

  button {
    height: 2.2rem;
    width: 5rem;
    font-size: 1.2rem;
  }
}

@media (min-height: 1600px) {
  button {
    font-size: 3.7rem;
  }
}
